body {
  background: linear-gradient(100deg, #347fdc, #5aa9f7);
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(3, 400px);
  gap: 20px;
  justify-content: center;
  margin: 20px 0px;
}

.grid a {
  color: #000;
}

.produto {
  background-color: #fff;
  padding: 5px;
  border-radius: 4px;
}

.img-produto {
  height: 250px;
  width: 200px;
  margin: 10px auto;
  margin-bottom: 50px;
  display: block;
  transition: transform 0.3s ease;
}

.img-produto:hover {
  transform: scale(1.1);
}

.nome-produto {
  font-size: 24px;
  margin: 5px;
  text-decoration: none;
}

.preco {
  color: #103;
  margin: 5px;
}

/* Responsividade */

@media (max-width: 1300px) {
  .grid {
    grid-template-columns: repeat(3, 240px);
  }
}

@media (max-width: 750px) {
  .grid {
    grid-template-columns: repeat(2, 240px);
  }
}

@media (max-width: 450px) {
  .grid {
    grid-template-columns: repeat(1, 240px);
  }
}