header {    
    background-color: #1268d0;
    width: 100%;              
}

#containerHeader {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 70px;
}

.logoImages {
    height: 50px; 
    cursor: pointer;
}

#navContent {
    display: flex;
    align-items: center;
    gap: 40px; 
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    margin-left: 20px;    
}

a:hover {
    color: #5ce1e6;
}

#searchBar {
    margin-left: 30px;
    width: 30.1rem;
    border-radius: 10px;
    height: 25px;
}

#figures {
    display: flex;
    gap: 40px;
}