@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;        
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(100deg, #347fdc, #5aa9f7);
  color: #000000;
  margin: 0;
}

.produto {
  background-color: #fff;
  padding: 5px;
  border-radius: 4px;
  margin: 20px 130px;
  padding: 10px;
}

#imagem {
  display: block;
  height: 400px;
  width: 400px;
}

.grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 60px;
}

.info {
  grid-column: 2;
  grid-row: 1;
}
.tabela {
  grid-column: 1 / -1;
}

.tabela-produto {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  border: none;
  text-align: left;
  color: white;
}

.tabela-produto img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.img-produto {
  width: 40vh;
  height: 50vh;
}

/* .img-produto {
  filter: saturate(0%);
}

/* .tabela-produto img:hover {
  filter: saturate(100%);
  transition: 1s;
}  */

#teste-Div {
  background-color: #004aad;
  padding: 10px;
  margin: 0;
}

.produto {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  background-color: white;
  padding: 10px;
}
.info-produto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pagamento-linha {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 4px;
  color: white;
}

.pagamento-linha img {
  width: 25px;
  height: 25px;
}

#tabela-Main {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  align-items: center;
  position: relative;
  top: 10vh;
}
